dataset/mimiciv
false
output
scripts/__pycache__/
model/__pycache__/
**/__pycache__/
wandb/
.DS_Store
del.ipynb
artifacts/medtok_files
artifacts/mimiciv_2.2_meds_full_patient_split
artifacts/coogee_final
*.pt
**/mimiciv_2.2_meds_processed.parquet
**/train.parquet
**/val.parquet
**/test.parquet

evaluation/icd10_to_pheno
hf_upload/model.safetensors
hf_upload/*.npz
hf_gradio/
pbs_logs_tmp/